.u-section-1 .u-sheet-1 {
  min-height: 484px;
}

.u-section-1 .u-text-1 {
  margin: 62px auto 0 56px;
}

.u-section-1 .u-text-2 {
  margin: 43px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 33px 0 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/WarmCrops.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-2 .u-image-1 {
    min-height: 239px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 520px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("images/CoolCrops.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 90px 12px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-image-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-3 .u-image-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3 .u-image-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-3 .u-image-1 {
    min-height: 239px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1347px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 9px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 39px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 634px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 12px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 30px auto 0 18px;
}

.u-section-4 .u-image-1 {
  width: 325px;
  height: 341px;
  margin: 35px auto 0;
}

.u-section-4 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 126px;
  height: 128px;
  margin: -316px auto 0 12px;
}

.u-section-4 .u-image-2 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.64deg);
}

.u-section-4 .u-text-3 {
  margin: 223px 55px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 634px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  margin: 1px auto 0 30px;
}

.u-section-4 .u-image-3 {
  width: 325px;
  height: 341px;
  margin: 33px auto 0;
}

.u-section-4 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 124px;
  height: 116px;
  margin: -107px auto 0 0;
}

.u-section-4 .u-image-4 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(334.18deg);
}

.u-section-4 .u-text-5 {
  margin: 25px 67px 0 12px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 634px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 12px;
}

.u-section-4 .u-text-6 {
  font-size: 1.875rem;
  margin: 0 18px;
}

.u-section-4 .u-image-5 {
  width: 325px;
  height: 341px;
  margin: 34px auto 0;
}

.u-section-4 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 126px;
  height: 128px;
  margin: -349px 12px 0 auto;
}

.u-section-4 .u-image-6 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.64deg);
}

.u-section-4 .u-text-7 {
  margin: 256px 55px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 585px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 12px;
}

.u-section-4 .u-text-8 {
  font-size: 1.875rem;
  margin: 0 18px;
}

.u-section-4 .u-image-7 {
  width: 325px;
  height: 341px;
  object-position: 91.97% 50%;
  margin: 34px auto 0;
}

.u-section-4 .u-rotation-parent-4 {
  animation-timing-function: ease;
  width: 126px;
  height: 127px;
  margin: -386px 0 0 auto;
}

.u-section-4 .u-image-8 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.64deg);
}

.u-section-4 .u-text-9 {
  margin: 293px 55px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 633px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.875rem;
  margin: 0 30px;
}

.u-section-4 .u-image-9 {
  width: 325px;
  height: 341px;
  margin: 34px auto 0;
}

.u-section-4 .u-rotation-parent-5 {
  animation-timing-function: ease;
  width: 124px;
  height: 116px;
  margin: -82px auto 0 0;
}

.u-section-4 .u-image-10 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(334.18deg);
}

.u-section-4 .u-text-11 {
  margin: 0 67px 0 12px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 585px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 12px;
}

.u-section-4 .u-text-12 {
  font-size: 1.875rem;
  margin: 0 18px;
}

.u-section-4 .u-image-11 {
  width: 325px;
  height: 341px;
  margin: 34px auto 0;
}

.u-section-4 .u-rotation-parent-6 {
  animation-timing-function: ease;
  width: 126px;
  height: 127px;
  margin: -386px 0 0 auto;
}

.u-section-4 .u-image-12 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.64deg);
}

.u-section-4 .u-text-13 {
  margin: 293px 55px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1226px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 501px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 138px;
    margin-bottom: -573px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 545px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 290px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-rotation-parent-1 {
    height: 127px;
    margin-top: -335px;
  }

  .u-section-4 .u-image-2 {
    width: 97px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 238px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    height: 271px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-rotation-parent-2 {
    margin-top: -75px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 545px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    height: 290px;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-rotation-parent-3 {
    height: 127px;
    margin-top: -325px;
  }

  .u-section-4 .u-image-6 {
    width: 97px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 228px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 582px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-7 {
    height: 290px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-rotation-parent-4 {
    margin-top: -334px;
  }

  .u-section-4 .u-image-8 {
    width: 97px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 237px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 582px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-9 {
    height: 290px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-rotation-parent-5 {
    margin-top: -83px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: -3px;
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 582px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 98px;
    margin-left: 16px;
  }

  .u-section-4 .u-image-11 {
    height: 290px;
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-rotation-parent-6 {
    margin-top: -324px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-12 {
    width: 97px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: 227px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 78px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 78px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-1 {
    height: 212px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 92px;
    height: 93px;
    margin-top: -202px;
    margin-left: 5px;
  }

  .u-section-4 .u-image-2 {
    width: 71px;
    height: 60px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 125px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-3 {
    height: 198px;
    margin-top: 11px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-rotation-parent-2 {
    width: 99px;
    height: 93px;
    margin-top: -77px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-4 .u-image-4 {
    width: 78px;
    height: 65px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 13px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 212px;
    margin-top: 18px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-rotation-parent-3 {
    width: 92px;
    height: 93px;
    margin-top: -197px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-6 {
    width: 71px;
    height: 60px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 128px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 519px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.25rem;
    margin-right: 18px;
  }

  .u-section-4 .u-image-7 {
    height: 212px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-rotation-parent-4 {
    width: 93px;
    height: 93px;
    margin-top: -243px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-8 {
    width: 71px;
    height: 60px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 199px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 519px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-9 {
    height: 212px;
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-rotation-parent-5 {
    width: 103px;
    height: 97px;
    margin-top: -38px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-4 .u-image-10 {
    width: 81px;
    height: 68px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -8px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 519px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.25rem;
    margin-top: 23px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-4 .u-image-11 {
    height: 212px;
    margin-top: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-rotation-parent-6 {
    width: 92px;
    height: 93px;
    margin-top: -242px;
    margin-right: 11px;
  }

  .u-section-4 .u-image-12 {
    width: 71px;
    height: 60px;
  }

  .u-section-4 .u-text-13 {
    margin-top: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3598px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 2264px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    height: 324px;
    width: 324px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-top: -383px;
    margin-right: 34px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 279px;
    margin-right: 146px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 20px;
    margin-right: 105px;
  }

  .u-section-4 .u-image-3 {
    height: 324px;
    width: 324px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-rotation-parent-2 {
    margin-top: -83px;
    margin-right: 18px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 10px;
    margin-right: 126px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 588px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-4 .u-text-6 {
    font-size: 2.25rem;
    margin-top: 30px;
    margin-right: 114px;
  }

  .u-section-4 .u-image-5 {
    height: 324px;
    width: 324px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-rotation-parent-3 {
    margin-top: -353px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 256px;
    margin-right: 114px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 579px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-7 {
    height: 324px;
    width: 324px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-rotation-parent-4 {
    height: 94px;
    margin-top: -335px;
    margin-right: 10px;
  }

  .u-section-4 .u-image-8 {
    width: 72px;
    height: 61px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 239px;
    margin-right: 114px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 609px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 0 10px;
  }

  .u-section-4 .u-text-10 {
    font-size: 2.25rem;
    margin-top: 30px;
    margin-right: 114px;
  }

  .u-section-4 .u-image-9 {
    height: 324px;
    width: 324px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-rotation-parent-5 {
    margin-top: -416px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 331px;
    margin-right: 105px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 551px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-12 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-11 {
    height: 324px;
    width: 324px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-rotation-parent-6 {
    margin-top: -344px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-13 {
    margin-top: 247px;
    margin-right: 126px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3761px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 100px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 8px;
  }

  .u-section-4 .u-image-1 {
    height: 320px;
    width: 320px;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-top: -288px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 191px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 320px;
    width: 320px;
  }

  .u-section-4 .u-rotation-parent-2 {
    margin-top: -87px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 576px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 29px;
    margin-right: 50px;
  }

  .u-section-4 .u-image-5 {
    height: 320px;
    width: 320px;
    margin-top: 20px;
  }

  .u-section-4 .u-rotation-parent-3 {
    margin-top: -320px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 223px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 566px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-7 {
    height: 320px;
    width: 320px;
  }

  .u-section-4 .u-rotation-parent-4 {
    margin-top: -331px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 586px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.5rem;
    margin-right: 50px;
  }

  .u-section-4 .u-image-9 {
    height: 320px;
    width: 320px;
  }

  .u-section-4 .u-rotation-parent-5 {
    margin-top: -87px;
    margin-right: 11px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 603px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 18px;
    margin-right: 18px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-11 {
    height: 320px;
    width: 320px;
  }

  .u-section-4 .u-rotation-parent-6 {
    margin-top: -340px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
  }
}